.setlist-playlist-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.setlist-container {
  flex: 1;
  max-height: 100%;
  transition: flex 0.3s ease;
}

.setlist-container.active {
  width: 30%;
  margin-right: 20px;
  transition: width 0.3s ease, margin-right 0.3s ease;
}

.setlist-item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  background-color: #735290;
  color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  will-change: transform;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.setlist-item:hover {
  overflow-x: visible;
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.setlist-item h2 {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.setlist-date,
.setlist-venue,
.icon-music-note,
.icon-tag {
  color: #fff;
}
.setlist-date {
  display: flex;
  margin-right: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
}
@media (min-height: 56px) {
  .setlist-item {
    align-items: center;
  }
}
.setlist-date span {
  display: block;
  text-align: center;
}

.setlist-songs span {
  color: #c0c0c0;
}

.setlist-link {
  all: unset;
  color: #fd5e53;
  text-decoration: none;
  cursor: pointer;
}

.setlist-link:hover {
  text-decoration: underline;
}

@media (max-width: 720px) {
  .setlist-songs {
    display: none;
  }

  .setlist-item {
    justify-content: space-between;
    padding: 10px;
  }

  .setlist-date {
    justify-content: center;
  }

  .selectArrow {
  }
}
