/* SearchBar Container */
.search-bar-container {
  display: flex;
  min-width: 600px;
  align-items: center;
  background-color: #363457; /* Dark background for the search container */
  border-radius: 40px; /* Rounded corners for the search bar */
  padding: 8px 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}
.search-bar-container button {
  /* Add a specific class for better targeting if necessary */
  margin: 0; /* Adjust margins to fit the layout */
  align-self: center; /* This aligns the button vertically */
}
.search-button:hover {
  color: #00a693; /* Persian Green for hover state */
}

/* SearchBar Icon */
#search-icon {
  color: #c0c0c0; /* Soft Silver for the icon */
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.8rem; /* Larger icon size */
}
#calendar-icon {
  color: #c0c0c0;
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}
#calendar-icon:hover {
  color: #00a693; /* Persian Green for hover state */
}
#btn-no-style {
  all: unset;
  display: flex;
  align-items: center;
  padding: 2px;
  margin-right: 5px;
}

/* SearchBar Input */
.search-input {
  flex-grow: 1; /* Let the input take up available space */
  background: transparent;
  border: none;
  color: #ffffff; /* White text for input */
  font-size: 1rem;
  padding: 8px 0; /* Vertical padding for larger touch area */
  height: 100%;
}

.search-input::placeholder {
  color: #c0c0c0; /* Soft Silver for placeholder text */
}

.search-input:focus {
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 0 2px #00a693; /* Persian Green glow to indicate focus */
}
