.App {
  height: 100vh;
  width: 100vw;
}
.main-container {
  padding-top: 10vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}
.main-content {
  display: flex;
  flex-direction: column;
  background-color: #8f75a6; /* Distinguishing background color */
  padding: 20px; /* Space inside the container, adjust as needed */
  margin: 40px auto; /* Center the container with consistent margin */
  border-radius: 15px; /* Slightly rounded corners for a modern look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for a "floating" effect */
  max-width: 90vw; /* Max width to prevent the container from being too wide */
  min-width: 600px;
  width: 90%; /* Width relative to the viewport width */
  box-sizing: border-box; /* Include padding and border in the element's dimensions */
  position: relative; /* For absolute positioning of child elements if needed */
}
.setlist-playlist-container {
  display: flex;
  flex-direction: row; /* Displays children (SetlistDisplay and PlaylistDisplay) side by side */
  width: 100%; /* Takes the full width of the parent container */
}
