.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-container {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  max-height: 95vh;
}
.main-container.search-submitted {
  padding-top: 15px;
}
.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #8f75a6;
  padding: 0 20px 20px 20px;
  margin: 40px auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 95%;
  max-height: 95vh;
  max-width: 95vw;
  min-width: 500px;
  width: 90%;
  box-sizing: border-box;
}

.setlist-playlist-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.setlist-display {
  flex: 0 0 30%;
  height: auto;
}

.playlist-display {
  flex: 0 0 70%;
  display: flex;
  height: auto;
}

/* Media Queries */
@media (max-width: 1024px) {
  .main-container,
  .artist-name-container {
    width: 100%;
  }

  .main-content {
    margin: 20px auto;
    padding: 10px;
    min-width: 0;
  }

  .setlist-display,
  .playlist-display {
    /* Resetting to default to apply specific widths below */
    flex: 0 0 auto;
  }

  .setlist-display {
    flex: 0 0 30%; /* 30% of the container */
  }

  .playlist-display {
    flex: 0 0 70%; /* 70% of the container */
  }
}

@media (max-width: 768px) {
  .main-container {
    width: 100%;
    height: 100vh;
    margin-top: 10px;
  }

  .main-content {
    margin: 0; /* Remove all margins */
    padding: 0; /* Remove all padding */
  }

  .setlist-playlist-container {
    flex-direction: column;
  }

  .setlist-display,
  .playlist-display {
    width: 100%; /* Set width to 100% for both */
    min-height: 50vh;
  }
}

@media (max-width: 600px) {
  .main-content {
    padding: 0;
    margin: 0;
    border-radius: 10px; /* Smaller radius for smaller screens */
  }

  .setlist-display,
  .playlist-display {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}
