* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #c0c0c0 #735290;
}
/* For Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  width: 8px; /* Adjust thumb width */
}

*::-webkit-scrollbar-track {
  background: #735290; /* Track color */
}

*::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* Thumb color */
  border-radius: 4px; /* Roundness of the scrollbar thumb */
  border: 2px solid #735290; /* Creates a border around the thumb */
}

/* Optional: Style for hover on the thumb */
*::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; /* Color of the thumb when hovered */
}
/* Global styles */
body {
  /* Gradient from top left to bottom right */
  background: linear-gradient(to bottom right, #4b2c74, #735290 50%, #4b2c74);
  min-height: 100vh;
  width: 100%;
  background-attachment: fixed;
  color: #ffffff;
  font-family: "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

p,
li,
div,
span {
  color: #fff;
}

a {
  color: #00a693;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #fd5e53;
}

button,
.input-group button:last-child {
  background-color: #00a693;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
button:hover,
.input-group button:last-child:hover {
  background-color: #fd5e53;
}

input[type="text"],
input[type="email"],
input[type="search"],
textarea {
  background-color: #363457;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin: 0%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  outline: none;
  border-color: #fd5e53;
  box-shadow: 0 0 0 2px #fd5e53;
}
