/* Styles for the container of the playlist items and buttons */
.playlist-items-container {
  text-align: center;
}

/* Styles for the buttons container */
.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

/* Styles for buttons */
.button {
  margin: 0 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #00a693;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #008277;
}

/* Styles for the playlist songs list */
.playlist-songs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playlist-songs {
  text-align: start;
  max-height: 70vh; /* Adjust based on viewport height */
  overflow-y: auto;
}
.playlist-songs li {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.playlist-songs .album-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
}

.playlist-songs .track-details {
  flex-grow: 1;
}

.playlist-songs .track-name {
  font-weight: bold;
  color: #ffffff;
}

.playlist-songs .track-info {
  color: #c0c0c0;
  font-style: italic;
}

.playlist-songs .found-track {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.missing-track {
  display: none;
  background-color: #fd5e53;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-indent: 50px;
}

.show-missing-tracks .missing-track {
  display: flex;
}
/* ----------MEDIA QUERIES---------- */
@media (max-width: 768px) {
  .button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}

.show-missing-tracks .missing-track {
  display: flex;
}
