.playlist-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #363457;
  border-radius: 10px;
  margin-top: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.playlist-actions .button {
  background-color: #00a693;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.playlist-actions .button:hover {
  background-color: #008277;
}

.playlist-actions .checkbox-container {
  display: flex;
  align-items: center;
}

.playlist-actions .checkbox-label {
  margin-right: 10px;
  color: #ffffff;
}

.playlist-actions input[type="checkbox"] {
  accent-color: #00a693;
  margin-right: 10px;
}
