.playlist-display {
  display: flex;
  width: 70%; /* This ensures the parent fills the entire width of its container */
}

.playlist-items {
  flex: 0 0 50%; /* Allocates 40% of the container's width to PlaylistItems */
  /* Additional styles for PlaylistItems */
}

.playlist-info-card {
  flex: 0 0 50%; /* Allocates 60% of the container's width to PlaylistInfoCard */
  /* Additional styles for PlaylistInfoCard */
}
